body {
  height: 100vh;
  margin: 0;
  position: relative;
}

button {
  padding: 50px 100px;
  font-size: 16px;
  cursor: pointer;
  background-color: pink;
  position: absolute;
  top: 0%;
  left: 0%;

}